.jumbotron {
  background-image: url(./img/background.jpg);
  background-position: center;
  position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    width: 100%;
    height: 16rem;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.carousel-item {
  width: 100%;
  opacity: 0.9;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.87);
}

.carousel-control {
  display: none;
}
