.carousel {
  display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 5rem;
    position: absolute;
    top: 25rem;
    z-index: 1;
    width: 100%;
}
.carousel-item{
  width:100%;
  opacity: 0.8;
}
.carousel-caption{
  background-color: rgba(0, 0, 0, 0.87);
  margin-bottom: 10rem;
}
.carousel-control {
  display: none;
}
