$primaryColor: #f13918;
$secondaryColor: red ;
.containerHomepage {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color:$primaryColor;
    position: relative;
}
.TitleUrban{
    position: absolute;
    left: 10%;
    top: 2em;
    width: 30%;
    fill: black;
}
.TitleExplorers{
    position: absolute;
    right: 8%;
    top: 1em;;
    width: 35%;
    fill: black;
}
.Vinyle {
    position: absolute;
    right: 50%;
    left: 45%;
    top: 6em;
    width: 12.5%;
    fill: black;
}
.Crowd1{
    position: absolute;
    width: 100%;
    top: 17em;
    fill: black;
}
.Crowd2{
    position: absolute;
    width: 100%;
    top: 10em;
    transform: scaleX(-1);
    fill: black;
}
.WelcomeSection {
    position: absolute;
    width: 100%;
    height: 80em;
    top: 46em;
    background-color: black;
    .WelcomeBox1{
        position: absolute;
        height: 18em;
        padding: 2em;
        top: 35em;
        width: 50%;
        left: 7em;
        background-color: $primaryColor;
        border-radius: 60px 10px 60px 10px;
        -moz-border-radius: 60px 10px 60px 10px;
        -webkit-border-radius: 60px 10px 60px 10px;
        border: 0px solid #000000;
    }
    .WelcomeBox2{
        position: absolute;
        height: 10em;
        padding: 2em;
        top: 58em;
        width: 60%;
        right: 0px;
        background-color: $primaryColor;
        border-radius: 63px 0px 0px 0px;
        -moz-border-radius: 63px 0px 0px 0px;
        -webkit-border-radius: 63px 0px 0px 0px;
        border: 0px solid #000000;
    }
}
.Synthesizer{
    position: absolute;
    right: 5em;
    margin-top: 78rem;
    width: 15%;
    transform: rotate(96deg);
}
.Skate{
    position: absolute;
    right: 25em;
    margin-top: 50rem;
    width: 15%;
    transform: rotate(90deg);
}
.Spray{
    position: absolute;
    left: 18em;
    margin-top: 92rem;
    width: 20%;
    transform: rotate(45deg);
}
.BackColor {
    position: absolute;
    width: 100%;
    height: 60em;
    top: 35em;
    background-color: $primaryColor;
}